/* ..\..\libs\bem-components\design\common.blocks\menu\_theme\menu_theme_normal.roo begin */
.menu_theme_normal {
 user-select: none;
 outline: 0;
 background: #fff;
}
 .menu_theme_normal.menu_size_s {
  font-size: 13px;
  line-height: 24px;
  padding: 3px 0;
 }
  .menu_theme_normal.menu_size_s .menu-item + .menu__group {
   margin-top: 3px;
  }
  .menu_theme_normal.menu_size_s .menu__group {
   padding: 3px 0;
  }
   .menu_theme_normal.menu_size_s .menu__group-title {
    padding: 0 10px;
   }
 .menu_theme_normal.menu_size_m {
  font-size: 13px;
  line-height: 24px;
  padding: 4px 0;
 }
  .menu_theme_normal.menu_size_m .menu-item + .menu__group {
   margin-top: 4px;
  }
  .menu_theme_normal.menu_size_m .menu__group {
   padding: 4px 0;
  }
   .menu_theme_normal.menu_size_m .menu__group-title {
    padding: 0 13px;
   }
 .menu_theme_normal.menu_size_l {
  font-size: 15px;
  line-height: 28px;
  padding: 5px 0;
 }
  .menu_theme_normal.menu_size_l .menu-item + .menu__group {
   margin-top: 5px;
  }
  .menu_theme_normal.menu_size_l .menu__group {
   padding: 5px 0;
  }
   .menu_theme_normal.menu_size_l .menu__group-title {
    padding: 0 15px;
   }
 .menu_theme_normal.menu_size_xl {
  font-size: 15px;
  line-height: 32px;
  padding: 6px 0;
 }
  .menu_theme_normal.menu_size_xl .menu-item + .menu__group {
   margin-top: 6px;
  }
  .menu_theme_normal.menu_size_xl .menu__group {
   padding: 6px 0;
  }
   .menu_theme_normal.menu_size_xl .menu__group-title {
    padding: 0 20px;
   }
 .menu_theme_normal .menu__group {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0;
 }
  .menu_theme_normal .menu__group-title {
   color: #999;
  }
  .menu_theme_normal .menu__group + .menu__group {
   border-top: 0;
  }
  .menu_theme_normal .menu__group:last-child {
   padding-bottom: 0;
   border-bottom: 0;
  }
  .menu_theme_normal .menu__group:first-child {
   padding-top: 0;
   border-top: 0;
  }

.menu-item_theme_normal {
 position: relative;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
 .menu-item_theme_normal.menu-item_disabled {
  opacity: 0.3;
 }
 .menu-item_theme_normal .link_disabled {
  cursor: text;
 }
 .menu-item_theme_normal.menu-item_checked {
  background: 0 50% no-repeat url("..\..\libs\bem-components\design\common.blocks\theme\_normal\tip.svg");
 }
 .menu-item_theme_normal.menu-item_hovered {
  cursor: pointer;
  background-color: #ffeba0;
 }
 .menu-item_theme_normal.menu-item_type_link .link {
  text-decoration: none;
  color: inherit;
  outline: none;
 }
 .menu-item_theme_normal .icon {
  width: 16px;
  margin-right: 5px;
 }

.menu_size_s .menu-item_theme_normal {
 padding: 0 10px;
 background-size: 14px;
 background-position: 10px 50%;
}

.menu_size_s .menu__group + .menu-item_theme_normal {
 margin-top: 3px;
}

.menu_size_s[class*='menu_select'] .menu-item_theme_normal,
.menu_size_s .menu__group-title ~ .menu-item_theme_normal {
 padding-left: 30px;
}

.menu_size_m .menu-item_theme_normal {
 padding: 0 13px;
 background-size: 14px;
 background-position: 13px 50%;
}

.menu_size_m .menu__group + .menu-item_theme_normal {
 margin-top: 4px;
}

.menu_size_m[class*='menu_select'] .menu-item_theme_normal,
.menu_size_m .menu__group-title ~ .menu-item_theme_normal {
 padding-left: 30px;
}

.menu_size_l .menu-item_theme_normal {
 padding: 0 15px;
 background-size: 15px;
 background-position: 15px 50%;
}

.menu_size_l .menu__group + .menu-item_theme_normal {
 margin-top: 5px;
}

.menu_size_l[class*='menu_select'] .menu-item_theme_normal,
.menu_size_l .menu__group-title ~ .menu-item_theme_normal {
 padding-left: 34px;
}

.menu_size_xl .menu-item_theme_normal {
 padding: 0 20px;
 background-size: 15px;
 background-position: 20px 50%;
}

.menu_size_xl .menu__group + .menu-item_theme_normal {
 margin-top: 6px;
}

.menu_size_xl[class*='menu_select'] .menu-item_theme_normal,
.menu_size_xl .menu__group-title ~ .menu-item_theme_normal {
 padding-left: 40px;
}

/* ..\..\libs\bem-components\design\common.blocks\menu-item\_theme\menu-item_theme_normal.roo end */
/* ..\..\libs\bem-components\design\common.blocks\input\_theme\input_theme_normal.roo begin */
.input_theme_normal {
 font-family: Arial, Helvetica, sans-serif;
 display: inline-block;
}
 .input_theme_normal .input__box {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
 }
 .input_theme_normal .input__control {
  font: inherit;
  line-height: inherit;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-top: -1px;
  /* Hack for IE 9+ (any negative value allowed) */
  padding: 0;
  width: 100%;
  border: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
  /* лишние отступы у текста */
  .input_theme_normal .input__control::-webkit-search-decoration {
   -webkit-appearance: none;
  }
  /* нативный крестик */
  .input_theme_normal .input__control::-webkit-search-cancel-button {
   display: none;
  }
  .input_theme_normal .input__control::-webkit-input-placeholder {
   color: #999;
   text-indent: 0;
  }
  .input_theme_normal .input__control::-moz-placeholder {
   opacity: 1;
   color: #999;
  }
  .input_theme_normal .input__control::-ms-clear {
   display: none;
  }
 .input_theme_normal .input__clear {
  position: absolute;
  top: 0;
  right: 0;
  cursor: text;
  transition: opacity 0.1s ease-out;
  opacity: 0;
  background: 50% 50% no-repeat;
 }
  .input_theme_normal .input__clear_visible {
   opacity: 0.3;
  }
   .input_theme_normal .input__clear_visible:hover {
    cursor: pointer;
    opacity: 1;
   }
 .input_theme_normal.input_focused .input__box {
  border: 1px solid rgba(178, 142, 0, 0.6);
  box-shadow: 0 0 10px #fc0;
 }
 .input_theme_normal.input_disabled {
  background: rgba(0, 0, 0, 0.08);
  box-shadow: none;
 }
  .input_theme_normal.input_disabled .input__clear {
   display: none;
  }
  .input_theme_normal.input_disabled .input__box,
  .input_theme_normal.input_disabled .input__control {
   color: rgba(0, 0, 0, 0.4);
   cursor: auto;
  }
 .input_theme_normal.input_size_s .input__clear,
 .input_theme_normal.input_size_m .input__clear {
  width: 22px;
  height: 22px;
  background-image: url("..\..\libs\bem-components\design\common.blocks\input\_theme\_normal\clear_size_s.svg");
  background-position: 6px 50%;
 }
 .input_theme_normal.input_size_s {
  font-size: 13px;
  line-height: 22px;
 }
  .input_theme_normal.input_size_s .input__control {
   height: 22px;
   padding-left: 5px;
  }
  .input_theme_normal.input_size_s.input_has-clear .input__box {
   padding-right: 22px;
  }
 .input_theme_normal.input_size_m {
  font-size: 13px;
  line-height: 26px;
 }
  .input_theme_normal.input_size_m .input__control {
   height: 26px;
   padding-left: 7px;
  }
  .input_theme_normal.input_size_m.input_has-clear .input__box {
   padding-right: 26px;
  }
  .input_theme_normal.input_size_m .input__clear {
   width: 26px;
   height: 26px;
   background-position: 8px 50%;
  }
 .input_theme_normal.input_size_l .input__clear,
 .input_theme_normal.input_size_xl .input__clear {
  width: 30px;
  height: 30px;
  background-image: url("..\..\libs\bem-components\design\common.blocks\input\_theme\_normal\clear_size_l.svg");
  background-position: 8px 50%;
 }
 .input_theme_normal.input_size_l {
  font-size: 15px;
  line-height: 30px;
 }
  .input_theme_normal.input_size_l .input__control {
   height: 30px;
   padding-left: 9px;
  }
  .input_theme_normal.input_size_l.input_has-clear .input__box {
   padding-right: 30px;
  }
 .input_theme_normal.input_size_xl {
  font-size: 18px;
  line-height: 36px;
 }
  .input_theme_normal.input_size_xl .input__control {
   height: 36px;
   padding-left: 11px;
  }
  .input_theme_normal.input_size_xl.input_has-clear .input__box {
   padding-right: 36px;
  }
  .input_theme_normal.input_size_xl .input__clear {
   width: 36px;
   height: 36px;
   background-position: 11px 50%;
  }

/* ..\..\libs\bem-components\design\common.blocks\input\_theme\input_theme_normal.roo end */
/* ..\..\libs\bem-components\design\common.blocks\button\_theme\button_theme_normal.roo begin */
.button_theme_normal {
 font-family: Arial, Helvetica, sans-serif;
 display: inline-block;
 margin: 0;
 padding: 0;
 user-select: none;
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: 3px;
 outline: 0;
 color: #000;
 background: #fff;
 text-align: center;
 white-space: nowrap;
}
 .button_theme_normal::-moz-focus-inner {
  padding: 0;
  border: 0;
 }
 .button_theme_normal .icon,
 .button_theme_normal .button__text {
  /*
   * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
   * Warning: bug still can be reproduced by clicking on button's border
   * TODO: try to fix
   */
  position: relative;
  display: inline-block;
 }
 .button_theme_normal.button_type_link {
  text-decoration: none;
 }
 .button_theme_normal.button_hovered {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
 }
 .button_theme_normal.button_checked {
  background: #ffeba0;
 }
 .button_theme_normal.button_pressed {
  background: #f6f5f3;
 }
  .button_theme_normal.button_pressed.button_checked {
   background: #fee481;
  }
 .button_theme_normal.button_focused {
  border: 1px solid rgba(178, 142, 0, 0.6);
  box-shadow: 0 0 10px #fc0;
 }
 .button_theme_normal.button_disabled {
  background: rgba(0, 0, 0, 0.08);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.4);
 }
 .button_theme_normal.button_pseudo {
  background: 0;
 }
  .button_theme_normal.button_pseudo.button_pressed {
   background: rgba(0, 0, 0, 0.05);
  }
 /* TODO: прочекать бордеры, сделать непрозрачными */
 .button_theme_normal.button_action {
  background: #ffdb4d;
 }
  .button_theme_normal.button_action.button_pressed {
   background: #fc0;
  }
 .button_theme_normal.button_size_s {
  font-size: 13px;
  line-height: 22px;
 }
  .button_theme_normal.button_size_s .icon {
   width: 22px;
  }
  .button_theme_normal.button_size_s .button__text {
   padding: 0 10px;
  }
 .button_theme_normal.button_size_m {
  font-size: 13px;
  line-height: 26px;
 }
  .button_theme_normal.button_size_m .icon {
   width: 26px;
  }
  .button_theme_normal.button_size_m .button__text {
   padding: 0 13px;
  }
 .button_theme_normal.button_size_l {
  font-size: 15px;
  line-height: 30px;
 }
  .button_theme_normal.button_size_l .icon {
   width: 30px;
  }
  .button_theme_normal.button_size_l .button__text {
   padding: 0 15px;
  }
 .button_theme_normal.button_size_xl {
  font-size: 18px;
  line-height: 36px;
 }
  .button_theme_normal.button_size_xl .icon {
   width: 36px;
  }
  .button_theme_normal.button_size_xl .button__text {
   padding: 0 18px;
  }
 .button_theme_normal .icon + .button__text {
  padding-left: 0;
 }
 .button_theme_normal .button__text:not(:last-child) {
  padding-right: 0;
 }
 .button_theme_normal.button_togglable_radio:first-of-type,
 .button_theme_normal.button_togglable_radio ~ .button_togglable_radio {
  border-right-width: 0;
 }
 .button_theme_normal.button_togglable_radio ~ .button_togglable_radio {
  border-radius: 0;
 }
 .button_theme_normal.button_togglable_radio:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 }
 .button_theme_normal.button_togglable_radio:last-of-type {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
 }
 .button_theme_normal.button_togglable_radio.button_hovered {
  border-right-width: 1px;
 }
  .button_theme_normal.button_togglable_radio.button_hovered ~ .button_togglable_radio {
   border-left-width: 0;
  }
  /* TODO: сложновато, проверить производительность */
  .button_theme_normal.button_togglable_radio.button_hovered ~ .button_togglable_radio ~ .button_togglable_radio {
   border-left-width: 1px;
  }

/* ..\..\libs\bem-components\design\common.blocks\button\_theme\button_theme_normal.roo end */
/* ..\..\libs\bem-components\design\common.blocks\radio\_theme\radio_theme_normal.roo begin */
.radio_theme_normal {
 font-family: Arial, Helvetica, sans-serif;
 display: block;
}
 .radio_theme_normal.radio_size_m {
  font-size: 13px;
  line-height: 26px;
 }
 .radio_theme_normal.radio_size_l {
  font-size: 15px;
  line-height: 30px;
 }
 .radio_theme_normal.radio_type_button {
  display: inline-block;
  white-space: nowrap;
 }

.radio-option_theme_normal:hover {
 cursor: pointer;
}

.radio-option_theme_normal::after {
 display: block;
 content: '';
}

.radio-option_theme_normal .radio-option__control {
 position: absolute;
 z-index: -1;
 margin: 0;
 opacity: 0;
}

.radio-option_theme_normal .radio-option__box {
 display: inline-block;
 border: 1px solid rgba(0, 0, 0, 0.3);
 border-radius: 50%;
 background: #fff;
}
 .radio-option_theme_normal .radio-option__box::after {
  visibility: hidden;
  content: '\00A0';
 }

.radio-option_theme_normal.radio-option_checked .radio-option__box {
 position: relative;
 background: #ffeba0;
 border: 1px solid rgba(153, 122, 0, 0.5);
}
 .radio-option_theme_normal.radio-option_checked .radio-option__box::before {
  position: absolute;
  border-radius: 50%;
  background: #000;
  content: '';
 }

.radio-option_theme_normal.radio-option_focused .radio-option__box {
 box-shadow: 0 0 10px #fc0;
}

.radio-option_theme_normal.radio-option_disabled {
 cursor: default;
}
 .radio-option_theme_normal.radio-option_disabled .radio-option__box {
  background: rgba(0, 0, 0, 0.08);
  border-color: transparent;
 }
  .radio-option_theme_normal.radio-option_disabled .radio-option__box::before {
   background: rgba(0, 0, 0, 0.4);
  }

.radio-option_theme_normal.radio-option_type_button {
 display: inline-block;
}

.radio-option_theme_normal.radio-option_size_m .radio-option__box {
 line-height: 12px;
 width: 12px;
 height: 12px;
 margin-right: 5px;
}
 .radio-option_theme_normal.radio-option_size_m .radio-option__box::before {
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
 }

.radio-option_theme_normal.radio-option_size_l .radio-option__box {
 line-height: 15px;
 width: 15px;
 height: 15px;
 margin-right: 7px;
}
 .radio-option_theme_normal.radio-option_size_l .radio-option__box::before {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
 }

/* ..\..\libs\bem-components\design\common.blocks\radio-option\_theme\radio-option_theme_normal.roo end */
/* ..\..\libs\bem-components\design\common.blocks\checkbox\_theme\checkbox_theme_normal.roo begin */
.checkbox_theme_normal {
 font-family: Arial, Helvetica, sans-serif;
}
 /*
  * TODO: корявый хак, появляется некрасивая серая плашка при клике на тачах в iOS, надо переделать
  * NOTE: то же самое в radio
  */
 .checkbox_theme_normal:hover {
  cursor: pointer;
 }
 .checkbox_theme_normal::after {
  display: block;
  content: '';
 }
 .checkbox_theme_normal .checkbox__control {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
 }
 .checkbox_theme_normal .checkbox__box {
  position: relative;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #fff;
 }
  .checkbox_theme_normal .checkbox__box::after {
   visibility: hidden;
   content: '\00A0';
  }
  .checkbox_theme_normal .checkbox__box::before {
   position: absolute;
   content: '';
   background-image: url("..\..\libs\bem-components\design\common.blocks\theme\_normal\tip.svg");
   background-size: 100%;
   opacity: 0;
   transition: transform 0.05s ease-out, opacity 0.05s ease-out;
  }
 .checkbox_theme_normal.checkbox_size_m {
  font-size: 13px;
  line-height: 26px;
 }
  .checkbox_theme_normal.checkbox_size_m .checkbox__box {
   line-height: 12px;
   width: 12px;
   height: 12px;
   margin-right: 6px;
  }
   .checkbox_theme_normal.checkbox_size_m .checkbox__box::before {
    top: -6px;
    left: 1px;
    width: 15px;
    height: 15px;
    transform: translateY(-5px);
   }
 .checkbox_theme_normal.checkbox_size_l {
  font-size: 15px;
  line-height: 30px;
 }
  .checkbox_theme_normal.checkbox_size_l .checkbox__box {
   line-height: 16px;
   width: 15px;
   height: 15px;
   margin-right: 8px;
  }
   .checkbox_theme_normal.checkbox_size_l .checkbox__box::before {
    top: -6px;
    left: 1px;
    width: 18px;
    height: 18px;
    transform: translateY(-7px);
   }
 .checkbox_theme_normal.checkbox_checked .checkbox__box {
  background: #ffeba0;
 }
  .checkbox_theme_normal.checkbox_checked .checkbox__box::before {
   opacity: 1;
   transform: translateY(0px);
  }
 .checkbox_theme_normal.checkbox_disabled {
  cursor: default;
  color: #999;
 }
  .checkbox_theme_normal.checkbox_disabled .checkbox__box {
   background: rgba(0, 0, 0, 0.08);
   border-color: transparent;
  }
  .checkbox_theme_normal.checkbox_disabled.checkbox_checked .checkbox__box::before {
   opacity: 0.4;
  }

/* ..\..\libs\bem-components\design\common.blocks\checkbox\_theme\checkbox_theme_normal.roo end */
/* ..\..\libs\bem-components\common.blocks\popup\popup.roo begin */
.popup {
 position: absolute;
}

/* ..\..\libs\bem-components\common.blocks\popup\popup.roo end */
/* ..\..\libs\bem-components\design\common.blocks\dropdown\_theme\dropdown_theme_normal.roo begin */
.dropdown_theme_normal {
 display: inline-block;
}

/* ..\..\libs\bem-components\design\common.blocks\dropdown\_theme\dropdown_theme_normal.roo end */
/* ..\..\libs\bem-components\design\common.blocks\popup\_theme\popup_theme_normal.roo begin */
.popup_theme_normal {
 visibility: hidden;
 animation-duration: 0.1s;
 animation-timing-function: ease-out;
 border: 1px solid rgba(0, 0, 0, 0.2);
 background: #fff;
 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
 animation-fill-mode: forwards;
}
 .popup_theme_normal.popup_visible {
  visibility: visible;
 }
@keyframes popup_theme_normal_bottom {
 0% {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
 }
 99% {
  transform: translateY(10px);
 }
 100% {
  opacity: 0;
  visibility: hidden;
 }
}
@keyframes popup_theme_normal_bottom_visible {
 0% {
  opacity: 0;
  transform: translateY(10px);
 }
 100% {
  opacity: 1;
  transform: translateY(0);
 }
}
@keyframes popup_theme_normal_top {
 0% {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
 }
 99% {
  transform: translateY(-10px);
 }
 100% {
  opacity: 0;
  visibility: hidden;
 }
}
@keyframes popup_theme_normal_top_visible {
 0% {
  opacity: 0;
  transform: translateY(-10px);
 }
 100% {
  opacity: 1;
  transform: translateY(0);
 }
}
@keyframes popup_theme_normal_right {
 0% {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
 }
 99% {
  transform: translateX(10px);
 }
 100% {
  opacity: 0;
  visibility: hidden;
 }
}
@keyframes popup_theme_normal_right_visible {
 0% {
  opacity: 0;
  transform: translateX(10px);
 }
 100% {
  opacity: 1;
  transform: translateX(0);
 }
}
@keyframes popup_theme_normal_left {
 0% {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
 }
 99% {
  transform: translateX(-10px);
 }
 100% {
  opacity: 0;
  visibility: hidden;
 }
}
@keyframes popup_theme_normal_left_visible {
 0% {
  opacity: 0;
  transform: translateX(-10px);
 }
 100% {
  opacity: 1;
  transform: translateX(0);
 }
}
 .popup_theme_normal.popup_direction_bottom-left {
  animation-name: popup_theme_normal_bottom;
 }
 .popup_theme_normal.popup_direction_bottom-center {
  animation-name: popup_theme_normal_bottom;
 }
 .popup_theme_normal.popup_direction_bottom-right {
  animation-name: popup_theme_normal_bottom;
 }
 .popup_theme_normal.popup_direction_bottom-left.popup_visible {
  animation-name: popup_theme_normal_bottom_visible;
 }
 .popup_theme_normal.popup_direction_bottom-center.popup_visible {
  animation-name: popup_theme_normal_bottom_visible;
 }
 .popup_theme_normal.popup_direction_bottom-right.popup_visible {
  animation-name: popup_theme_normal_bottom_visible;
 }
 .popup_theme_normal.popup_direction_top-left {
  animation-name: popup_theme_normal_top;
 }
 .popup_theme_normal.popup_direction_top-center {
  animation-name: popup_theme_normal_top;
 }
 .popup_theme_normal.popup_direction_top-right {
  animation-name: popup_theme_normal_top;
 }
 .popup_theme_normal.popup_direction_top-left.popup_visible {
  animation-name: popup_theme_normal_top_visible;
 }
 .popup_theme_normal.popup_direction_top-center.popup_visible {
  animation-name: popup_theme_normal_top_visible;
 }
 .popup_theme_normal.popup_direction_top-right.popup_visible {
  animation-name: popup_theme_normal_top_visible;
 }
 .popup_theme_normal.popup_direction_right-top {
  animation-name: popup_theme_normal_right;
 }
 .popup_theme_normal.popup_direction_right-center {
  animation-name: popup_theme_normal_right;
 }
 .popup_theme_normal.popup_direction_right-bottom {
  animation-name: popup_theme_normal_right;
 }
 .popup_theme_normal.popup_direction_right-top.popup_visible {
  animation-name: popup_theme_normal_right_visible;
 }
 .popup_theme_normal.popup_direction_right-center.popup_visible {
  animation-name: popup_theme_normal_right_visible;
 }
 .popup_theme_normal.popup_direction_right-bottom.popup_visible {
  animation-name: popup_theme_normal_right_visible;
 }
 .popup_theme_normal.popup_direction_left-top {
  animation-name: popup_theme_normal_left;
 }
 .popup_theme_normal.popup_direction_left-center {
  animation-name: popup_theme_normal_left;
 }
 .popup_theme_normal.popup_direction_left-bottom {
  animation-name: popup_theme_normal_left;
 }
 .popup_theme_normal.popup_direction_left-top.popup_visible {
  animation-name: popup_theme_normal_left_visible;
 }
 .popup_theme_normal.popup_direction_left-center.popup_visible {
  animation-name: popup_theme_normal_left_visible;
 }
 .popup_theme_normal.popup_direction_left-bottom.popup_visible {
  animation-name: popup_theme_normal_left_visible;
 }

/* ..\..\libs\bem-components\design\common.blocks\popup\_theme\popup_theme_normal.roo end */
/* ..\..\libs\bem-components\design\common.blocks\link\_theme\link_theme_normal.roo begin */
.link_theme_normal {
 color: #44b;
 cursor: pointer;
 transition: color 0.15s ease-out;
 text-decoration: none;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
 .link_theme_normal:hover {
  color: #e00;
 }

/* ..\..\libs\bem-components\design\common.blocks\link\_theme\link_theme_normal.roo end */
/* ..\..\libs\bem-components\design\common.blocks\spin\_theme\spin_theme_normal.roo begin */
.spin_theme_normal {
 position: relative;
 display: none;
 color: transparent;
}
 .spin_theme_normal::before {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  content: '';
  border: 2px solid;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
 }
 .spin_theme_normal::after {
  content: '\00A0';
 }
 .spin_theme_normal.spin_progress {
  display: inline-block;
  animation: spin_theme_normal 1s infinite linear;
  background: 0 0 no-repeat url("..\..\libs\bem-components\design\common.blocks\spin\_theme\spin_theme_normal.gif");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) !important;
  backface-visibility: hidden;
 }
 .spin_theme_normal.spin_size_xs {
  line-height: 16px;
  width: 16px;
  height: 16px;
  background-position: 0 0px;
 }
  .spin_theme_normal.spin_size_xs::before {
   height: 16px;
  }
 .spin_theme_normal.spin_size_s {
  line-height: 24px;
  width: 24px;
  height: 24px;
  background-position: 0 -40px;
 }
  .spin_theme_normal.spin_size_s::before {
   height: 24px;
  }
 .spin_theme_normal.spin_size_m {
  line-height: 28px;
  width: 28px;
  height: 28px;
  background-position: 0 -80px;
 }
  .spin_theme_normal.spin_size_m::before {
   height: 28px;
  }
 .spin_theme_normal.spin_size_l {
  line-height: 32px;
  width: 32px;
  height: 32px;
  background-position: 0 -120px;
 }
  .spin_theme_normal.spin_size_l::before {
   height: 32px;
  }
 .spin_theme_normal.spin_size_xl {
  line-height: 38px;
  width: 38px;
  height: 38px;
  background-position: 0 -160px;
 }
  .spin_theme_normal.spin_size_xl::before {
   height: 38px;
  }

@keyframes spin_theme_normal {
 from {
  color: #fc0;
  transform: rotate(0);
 }
 to {
  color: #fc0;
  transform: rotate(360deg);
 }
}